name: SRA Board component
on: [push, pull_request]

jobs:
  build-test:
    name: Test Build of component
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:release-v4.1
    strategy:
      matrix:
        test-apps: [bar_graph, lsa, motor_driver_normal, motor_driver_parallel, mpu6050, servos, switches, oled]
    steps:  
      - uses: actions/checkout@v2
      - name: Test ${{ matrix.test-apps }}
        run: |
          . $IDF_PATH/export.sh
          cd examples/
          cd ${{ matrix.test-apps }}
          idf.py build
